<h1>プロフィール画面</h1>
ユーザーID：< user_profiles.user_id >
年齢：< user_profiles.age ><br>
自己紹介文：< user_profiles.biography ><br>
地域：< user_profiles.region ><br>
経験年数：< user_profiles.experience_years ><br>
好きな釣りの種類：< user_profiles.favorite_fishing_type ><br>
<%= link_to "（仮）",:back %>
<%=link_to 'プロフィールを編集する', edit_user_profile_path %>