/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

.date-divider {
  text-align: center;
  margin: 20px 0;
}

.date {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
  color: #555;
}

.message-meta {
  display: flex;
  justify-content: space-between; /* スペースを均等に分配 */
  align-items: center; /* 中央揃え */
  font-size: 0.85em; /* フォントサイズを小さく */
  color: #555;
}

/* チャットコンテナのスタイル */
.chat-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: gray;
}

/* チャットルームのタイトル */
.chat-title {
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.messages {
  height: 450px;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  word-break: break-all;
  
  max-width: 40%; /* 吹き出しの最大幅を設定 */
  justify-content: flex-start; /* 左端に配置 */
}

.message.my-message {
  background-color: #C3F69D; /* 自分のメッセージの背景色を変える場合 */
  justify-content: flex-end;
    margin-left: auto; /* 自分のメッセージは右側に配置 */
  
}


.username {
  color: #006600;
  margin-right: 5px;
}

.content {
  flex-grow: 1;
  padding: 5px;
}

.timestamp {
  font-size: 0.8em;
  color: #666;
}

.no-messages {
  text-align: center;
  color: #666;
}

.message-form {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
}

.text-area {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  resize: none;
}

/* 送信ボタン */
.send-button {
  padding: 10px 20px;
  background-color: #00b900;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #009900;
}

/* 戻るリンク */
.back-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #00b900;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
}

.back-link:hover {
  background-color: #e8e8e8;
}
